@import "null.css";
.wrapper {
	font-family: "Gideon Roman", sans-serif;
	font-size: 18px;
	min-height: 100%;
	overflow: hidden;
	color: #ffffff;
}
.container {
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 12px;
}
.bg-picture {
	background: url("../img/matrix-1461373324WTC.jpg");
}
.header {
	background: url("../img/1435070357_matrica-revolyuciya-1.jpg") top center no-repeat fixed;
}
.name {
	text-align: center;
	font-size: 56px;
	line-height: 160%;
	font-weight: 900;
	padding: 100px 0;
	color: #1ae03b;
}
.plot {
	background: url("../img/scale_1200.jpg") top center no-repeat;
}
.head {
	font-size: 36px;
	color: #1ae03b;
	font-weight: 900;
	line-height: 150%;
	text-align: center;
	margin: 0 0 20px;
}
.plot-header {
}
.plot-text {
	line-height: 178%;
	padding: 0 5px;
	margin: 0 0 15px;
}
.mainhero {
	background: #000;
}
.mainhero-header {
}

.mainhero-text {
	background: url("../img/detail_e8a6eb07f921f09e7b8eb4539b0be516.jpg") left / auto 100% no-repeat,
		url("../img/a2eebbed6a7b78f79702e279e79032b6_ce_980x611x0x21_cropped_960x600.jpg") right/auto 100% no-repeat;
	text-align: center;
	padding: 0 300px;
	line-height: 125%;
}
.mainwoman-header {
	color: #ffffff;
}
.mainwoman-text {
	line-height: 170%;
	background: url("../img/Triniti-stikhi.jpg") left/ 150px repeat-y, url("../img/images.jpg") right / 150px repeat-y;
	padding: 0 150px;
}
/*======================Макет===========================*/
.maket1 {
	font-family: "Lato", sans-serif;
	font-size: 16px;
	color: #424551;
}
.maket1-container {
	max-width: 810px;
	margin: 0 auto;
	padding: 0 12px;
}
.header-maket {
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
	color: #1e212c;
	margin: 0 0 26px;
}
.image-maket {
	margin: 0 0 60px 0;
}
.text-bold {
	font-weight: 700;
	font-size: 20px;
	line-height: 150%;
	color: #1e212c;
	margin: 0 0 24px 0;
}
.text-margin {
	line-height: 160%;
	margin: 0 0 48px;
}
.special {
	font-weight: 700;
	font-size: 20px;
	line-height: 150%;
	color: #1e212c;
	margin: 0 0 48px 0;
	padding: 0 0 0 58px;
	background: url("../img/braces.svg") 0 0 no-repeat;
}
.text-regular {
	line-height: 160%;
	margin: 0 0 24px 0;
}
ul.text-regular li {
	background: url("../img/check.svg") 0 5px no-repeat;
	padding: 0 0 0 32px;
	margin: 0 0 4px;
}

.date-time {
	line-height: 160%;
	color: #787a80;
	margin: 0 0 40px;
}
.date {
	display: inline-block;
	background: url("../img/Vector.svg") 0 5px no-repeat;
	padding: 0 0 0 24px;
	margin: 0 24px 0 0;
}
.time {
	display: inline-block;
	background: url("../img/Clock.svg") 0 5px no-repeat;
	padding: 0 0 0 24px;
}
.container-createx {
	max-width: 390px;
	margin-left: auto;
}
.header-createx {
	font-weight: 900;
	color: #1e212c;
}
.label {
	line-height: 150%;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin: 0 0 8px;
}
.head-createx {
	font-size: 46px;
	line-height: 130%;
	margin: 0 0 40px;
}
.list-createx li {
	background: url("../img/check.svg") 0 5px no-repeat;
	padding: 0 0 0 32px;
	margin: 0 0 12px 0;
	line-height: 160%;
}
.list-createx {
	margin: 0 0 48px;
}
.button-createx {
	background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
	border-radius: 4px;
	padding: 0px 32px;
	line-height: 314%;
	color: #ffffff;
	font-size: 14px;
	font-weight: 900;
	min-height: 44px;
	display: inline-block;
}
